@charset "UTF-8";
@media only screen and (min-width: 600px) {
.header{
	display: flex; flex-direction: column; background-color: #660033; color: #d6d6c2; font-family: arial; font-size: 14px; width: auto; 
}
.logo img {
	width: 70px;
}

h1{
	font-size: 30px; text-align: center;
}

h3{
	color:#b3b380;  text-align: center;
}
.header a{
	 
	text-decoration: none;
	background-color: #60bf40;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.header a:hover {
	
	background-color:#80cc66;
	color: black;
	
}

.#year {
	margin: 10px auto;
}

#main{
	  background-color: #0d0d0d;
text-align: center;
font-family: arial; font-size: 16px;
}

.churchtop a{
	text-decoration: none; color: #000; padding: 5px 10px; 
	background-color:#bda028 ;
}

.churchtop a:hover {
	background-color: #a88e24;
}
.logo{
	flex: 1;text-align: center;
}

.heading{
	flex:3;
}

#churchname{
	font-size: 14px; margin-top: 0px;font-style: normal;
}

/*---------DROPDOWN MENU---------*/



/*-------------VIDEO OF THE WEEK---------*/

.video { border: 1px solid #660033;
		opacity: 0.95;
	margin: 0px auto;
		text-align: center;
	margin-bottom: 0px;
	
}
.aboutvid {
	padding:  10px; 
	margin: 0px;
	color: #fff;
		font-size: 14px;
	margin-bottom: 10px;
}

.aboutvid em {
	color: #b39e4d;
}

.video {
	
}


.video a{
	
	text-decoration: none;
	background-color: #e6b800;
	color: #000;
	font-size: 14px;
	padding:5px 20px;
	margin-top: 0px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.9);


}

.video a:hover {
	
	background-color: #b38f00;
	color: black;
	
}

button a {
    text-decoration: none;
     text-align: center;
    display: block;
    font-size: 16px;
    border:none;
    color: #000;
     

}


button {
    color: #000;
     background-color:#dcdca3;
     border-bottom:  0px solid black;
    padding: 10px ;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 16px;
    border:none;
    width: 150px;
    margin: 10px auto;
    border-radius: 0px;

}

button:hover {background-color: #bed590;}

#march {
display: flex;
flex-direction: column;
}

.partition{
width: 300px;
	margin: 10px auto;
}




.footer {
	background-color: #1b1a18;
	color: #c3c2bb;
	padding: 20px;
	font-size: 12px;

}

.footer a {
	
	color: #bda028 ;
	padding: 20px;
	font-size: 12px;
	margin: 20px;

}

}

/*--------SMALLER SCREENS----------------*/

@charset "UTF-8";
@media only screen and (max-width: 600px) {
.header{
	display: flex; flex-direction: column; background-color: #660033; color: #d6d6c2; font-family: arial; font-size: 14px; width: auto; 
}
.logo img {
	width: 60px;
}

h1{
	font-size: 28px; text-align: center;
}
h3{
	color:#b3b380;  text-align: center;
}
.header a{
	 
	text-decoration: none;
	background-color: #60bf40;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.header a:hover {
	
	background-color:#80cc66;
	color: black;
	
}

.#year {
	margin: 10px auto;
}

#main{
	  background-color: #0d0d0d;
text-align: center;
font-family: arial; font-size: 16px;
}

.churchtop a{
	text-decoration: none; color: #000; padding: 5px 10px; 
	background-color:#bda028 ;
}

.churchtop a:hover {
	background-color: #a88e24;
}
.logo{
	flex: 1;text-align: center;
}

.heading{
	flex:3;
}

#churchname{
	font-size: 14px; margin: 0px auto;font-style: normal;
}

/*---------DROPDOWN MENU---------*/



/*-------------VIDEO OF THE WEEK---------*/

.video { border: 1px solid #660033;
		opacity: 0.95;
	margin: 0px auto;
		text-align: center;
	margin-bottom: 0px;
	
}
.aboutvid {
	padding:  10px; 
	margin: 0px;
	color: #fff;
		font-size: 14px;
	margin-bottom: 10px;
}

.aboutvid em {
	color: #b39e4d;
}

.video {
	
}


.video a{
	
	text-decoration: none;
	background-color: #e6b800;
	color: #000;
	font-size: 14px;
	padding:5px 20px;
	margin-top: 0px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.9);


}

.video a:hover {
	
	background-color: #b38f00;
	color: black;
	
}


button a {
    text-decoration: none;
     text-align: center;
    display: block;
    font-size: 16px;
    border:none;
    color: #000;
     

}


button {
    color: #000;
     background-color:#b3b380;
     border-bottom:  0px solid black;
    padding: 10px ;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 16px;
    border:none;
    width: 150px;
    margin: 10px auto;
    border-radius: 0px;

}

button:hover {background-color: #bed590;}

#march {
display: flex;
flex-direction: column;
}

.partition{
width: 300px;
	margin: 10px auto;
}




.footer {
	background-color: #1b1a18;
	color: #c3c2bb;
	padding: 20px;
	font-size: 12px;

}

.footer a {
	
	color: #bda028 ;
	padding: 20px;
	font-size: 12px;
	margin: 20px;

}

}